<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Project">
        <activity
            android:name=".user_information.DoctorPatientCheckupActivity"
            android:exported="true" />
        <activity
            android:name=".appointment_activities.SelectAvailabilityActivity"
            android:exported="true" />
        <activity android:name=".appointment_activities.ViewAppointmentActivity" />
        <activity android:name=".appointment_activities.BookAppointmentActivity" />
        <activity android:name=".user_information.PatientActivity" />
        <activity android:name=".user_information.DoctorActivity" />
        <activity android:name=".user_information.PatientInformation" />
        <activity android:name=".user_information.DoctorSignup" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>